{% extends 'base.html' %}
{% block content %}

<table>
    <tr>
        <th>Name</th>
        <th>Neighbourhood</th>
        <th>Cost</th>
        <th>Cuisine</th>
        <th>Suggestion</th>
    </tr>
    <tr>
        {% for restaurant in restaurants %}
        <th><a href="{% url 'detail' restaurant.id %}">
            <p>{{ restaurant.name }}</p></a></th>
        <th><p>{{ restaurant.neighbourhood }}</p></th>
        <th><p>{{ restaurant.cost }}</p></th>
      <th><p>{{ restaurant.cuisine }}</p></th>
       <th><p>{{ restaurant.suggestion }}</p></th> 
    </tr>
    {% endfor %}
</table>
{% endblock %}