<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Very Good Restaurants</title>
</head>
<body>
{% extends 'base.html' %}
{% block content %}

<h2>An online restaurant catalogue by food lovers. Sharing since 2021.</h2>
<h3>Inspired by <a href="https://verygoodfilms.co/" target="_blank">Very Good Films</a></h3>
<h4>Site by <a href="http://">Brittney.</a> <a href="http://" target="_blank">Read More ></a></h4>
{% endblock %}
</body>
</html>