<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Resto Collective</title>
</head>
<body>
{% extends 'base.html' %}
{% block content %}

<h1>About the Resto Collective</h1>
<hr />
<p>This site was inspired by an ongoing Iphone note of my favorite restuarants in Toronto. <br> <br>
 This site is built using Django and PostgreSQL</p>
<footer>All Rights Reserved, &copy; 2021 Resto Collective</footer>
{% endblock %}
</body>
</html>